{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="mains">
        <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo"/>
        <h1>BUCKET LIST !</h1>
    </div>
    <div class="main">
        
    </div>
{% endblock %}
